{% extends 'base.html' %}

{% block content %}
<h2>Expenses List</h2>
<a href="{% url 'expense-create' %}" class="btn btn-primary mb-3">Add Expense</a>
<ul class="list-group">
    {% for expense in expenses %}
    <li class="list-group-item d-flex justify-content-between">
        <div>
            <strong>{{ expense.name }}</strong><br>
            Cost: {{ expense.amount }},
            ({{ expense.category }}),
            {{ expense.date }},
            Type: {{ expense.type }}
        </div>
        <div>
            <a href="{% url 'expense-update' expense.pk %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'expense-delete' expense.pk %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}